*.[aod]
*.gch
*.so
*.sqlext
*.dSYM
*.node
*.swp
*.*~
*.log
*.tgz
*.zip
*.config
*.creator
*.files
*.includes
*.autosave
*.qbs
*.user
*.js.map
*.bundle.js
*.bundle.css
*.bundle.html.js
*xcshareddata*
*xcuserdata*
.DS_Store
.settings
.cproject
.history
.project
.git
bower_components/
node_modules/
build/
deps/
etc/
bin/
var/
tmp/
images/
files/
log/
pages/
include/

