.DS_Store
*.[aod]
*.gch
*.so
*.sqlext
*.dSYM
*.node
*.swp
*.*~
*.log
*.tgz
*.autosave
*.qbs
*.user
*xcshareddata*
*xcuserdata*
.settings
.cproject
.history
.project
node_modules
build
deps
etc
bin
var
tmp
images
files
log
pages

