body {
    margin:0px;
}

.header {
    font-weight: bold;
    font: bold 0.9em 'Trebuchet MS',Arial, Helvetica;
    background: #a7cfdf; /* Old browsers */
    background: -moz-linear-gradient(left,  #a7cfdf 0%, #23538a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#a7cfdf), color-stop(100%,#23538a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #a7cfdf 0%,#23538a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #a7cfdf 0%,#23538a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #a7cfdf 0%,#23538a 100%); /* IE10+ */
    background: linear-gradient(to right,  #a7cfdf 0%,#23538a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=1 ); /* IE6-9 */
    padding: 5px;
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
}

.grid {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
    width: 100%;
}

.grid td {
    font: 0.7em 'Trebuchet MS',Arial, Helvetica;
    border-bottom: 1px solid #f1f1f1;
}

.grid tbody tr:hover {
    background: #F4F4A4;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.grid tbody tr:hover tr:nth-child(even)  {
    background: #F4F4A4;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.grid tr:nth-child(even) {
    background: #f5f5f5;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
}

.grid th {
    text-align: left;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    border-bottom: 1px solid #ccc;
    background: #CCCcCC; /* Old browsers */
    font: bold 0.7em 'Trebuchet MS',Arial, Helvetica;
    border-bottom: 1px solid #f1f1f1;
}

.grid th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.grid th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.grid tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.grid tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

.grid-row {
    transition: all 0.1s ease-in-out;
}

.grid-selected {
    background-color: rgb(255, 255, 204);
}

.grid-marked {
    background-color: rgb(255, 255, 204);
}

.grid th span {
    padding-right: 10px;
}

.grid-row td img.coverart {
    width: 36px;
    height: 36px;
}

.grid-desc0 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAJCAYAAAD+WDajAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwgAADsIBFShKgAAAABp0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuMTAw9HKhAAAAPElEQVQoU2NggIL6+npjIN4NxIIwMTANFFAC4rtA/B+kAC6JJgGSRCgAcs5ABWASMHoVw////3HigZAEACKmlTwMfriZAAAAAElFTkSuQmCC);
    background-repeat:no-repeat;
    height: 9px;
    width: 7px;
    background-position: right top;
}

.grid-desc1 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAJCAYAAAD+WDajAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwgAADsIBFShKgAAAABp0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuMTAw9HKhAAAAPUlEQVQoU2P4//8/Ay6MUwKkgQJJBnygvr7+DBD/x4JXMQAFlYD4LprkbriBaAoQEjAVQAXGQLwbiAVhYgD6kIBR+tr9IgAAAABJRU5ErkJggg==);
    background-repeat:no-repeat;
    height: 9px;
    width: 7px;
    background-position: right top;
}

.grid-header th {
    font: bold 0.9em 'Trebuchet MS',Arial, Helvetica;
    background-color: #252525;
    color: white;
}

.grid-header th a {
    color: white;
}

