body {
	font-family: "Avenir Next", Helvetica, Arial, sans-serif;
    font-size: 1em;
	padding:1em;
	margin:auto;
	max-width:80%;
	background:#fefefe;
}

h1 {
    border-bottom: 1px solid #dbdbdb;
    margin: 1.5rem 0 1.5rem 0;
    padding-bottom: 7px;
    color: #000;
}

h2 {
    border-bottom: 1px solid #dbdbdb;
    margin: 1.5rem 0 1.5rem 0;
    padding-bottom: 7px;
    color: #333;
}

h3, h4 {
    margin: 1.2rem 0 1.2rem 0;
    padding-bottom: 5px;
    color: #333;
}

h5 {
    margin: 0.7rem 0 0.7rem 0;
    padding-bottom: 5px;
    color: #333;
}

h6 {
    margin: 0.7rem 0 0.7rem 0;
    padding-bottom: 5px;
    color: #333;
}

hr {
	height: 0.2em;
	border: 0;
	color: #CCCCCC;
	background-color: #CCCCCC;
}

p, blockquote, ul, ol, dl, li, table, pre {
	margin: 12px 0;
}

blockquote {
    border-left: 4px solid #dddddd;
    padding: 0 15px;
    color: #777777;
}

li, ul {
    margin: 2px 0;
}

a, a:visited {
	color: #4183C4;
	background-color: inherit;
	text-decoration: none;
}

button {
	padding: 4px 6px;
	border-radius: 5px;
	border: 1px solid #bbb;
	background-color: #eee;
}

code, pre {
	font-family: Monaco;
    border: 0;
    border-radius: 0;
}

pre {
    background-color: #F8F8F8;
    margin: 2px 0 8px;
    padding: 18px;
}

code {
	color: #BB637F;
    padding: 4px 4px 2px 0;
    letter-spacing: -0.3px;
}

li p:first-child code:first-child {
	font-size: 1.3em;
	font-family: "Avenir Next", Helvetica, Arial, sans-serif;
	font-weight: 500;
    background-color: inherit;
    border: inherit;
}

pre code {
	padding: 0;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
}

